<div data-name="home" class="page">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="titleDetalle" class="title">Sucursal</div>
      </div>

    </div>
  </div>

  <div class="page-content">

    <div class="card demo-card-header-pic">
      <div id="sucursalImagen" class="card-header align-items-flex-end title-shadow"></div>
      <div class="card-content card-content-padding">
        <p id="sucursalDireccion"></p>
      </div>
    </div>

    <div id="mapaSucursal" class="map-element"></div>

  </div>

</div>