<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Notificacion</div>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

     
    <div class="card">
      <div id="pushNombre" class="card-header"></div>
      <div class="card-content card-content-padding">
        <img id="pushImagen" style="width:100%;" />
        <p id="pushMensaje"></p>
      </div>
      <div class="card-footer">
        <a id="pushIr" class="center-element go-link col button button-fill button-large color-red">Ver Promoción</a>
      </div>
    </div>
    
    
  </div>

</div>