<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Cerca de Mi</div>
      </div>
      
    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

    <div class="card">
      <div class="card-header">Distancia <span style="width: auto;font-weight: bold;" id="kmsDistance">10</span> KMS</div>
      <div class="card-content" style="height: auto !important; padding: 20px;">
        <div class="range-slider"></div>
      </div>
    </div>

    <div class="toolbar toolbar-bottom">
      <div class="toolbar-inner">
          <a id="verMapa" href="#" class="link"><i class="fas fa-map-marker-alt"></i>&nbsp; Mapa</a>
          <a id="verLista" href="#" class="link">Lista &nbsp;<i class="fas fa-list"></i></a>
      </div>
    </div>

      <div id="mapaContenedor" class="map-container">
        <div id="mapa" class="map-element"></div>
      </div>

      <div id="lista" class="list media-list">
        <ul>
        </ul>
      </div>

  </div>

</div>