<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="promocionTitle" class="title">Promocion</div>
      </div>

      <div class="right">
        <i data-fav="0" data-on="0" id="favorito" style="padding: 10px;" class=""></i>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">
    
    <div class="card demo-card-header-pic">
      <div id="imagen" class="card-header align-items-flex-end title-shadow"></div>
      <div class="card-content card-content-padding">
        <p id="fecha" class="date"></p>
        <p id="promoDescripcionCompleta"></p>
      </div>
    </div>

    <div id="terminosContenedor" class="card">
      <div class="card-header">Términos y condiciones</div>
      <div id="terminos" class="card-content card-content-padding"></div>
    </div>
    
    <div class="footer-promotion"> 
      <p class="row" style="padding: 0px;margin: 0px;">
        <button id="promo-obtener" data-login="1" data-name="obtener" class="go-link col button button-large button-fill color-red">Obtener Promocion</button>
      </p>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

  </div>

</div>