<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Recuperar Contraseña</div>
      </div>

    </div>
  </div>
 
  <!-- Scrollable page content -->
  <div class="page-content">

    <img src="img/etiquetaroja.png" class="et-logo" />

    <form class="list er-form" id="recuperar-form">

      <div style="font-weight: bold; color: gray;">Por favor ingresa el correo electrónico con el que te diste de alta:</div>

      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Correo</div>
          <div class="item-input-wrap">
            <input id="email" type="email" name="email" placeholder="Correo" />
          </div>
        </div>
      </div>

    </form>

    <div class="block">
      <button id="recuperar-button" class="col button button-raised button-fill color-red er-transform">Recuperar</button>
    </div>


  </div>

</div>