<div id="qr-template" data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Escaner</div>
      </div>

    </div>
  </div>

  <div class="page-content">

    <div class="list inline-labels no-hairlines-md">

      <ul>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Codigo</div>
            <div class="item-input-wrap">
              <input id="codigoEscaner" type="text" placeholder="Codigo" />
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <p class="segmented segmented-raised" style="padding:10px;">
      <button id="accionEscanear" class="button color-orange button-fill">Escanear</button>
      <button id="accionCanjear" class="button color-red button-fill">Canjear</button>
    </p>

    <div id="premio-contenedor" class="card card-expandable" style="display: none;">
      <div class="card-content">
        <div class="bg-color-green" style="height: 200px">
          <div class="card-header text-color-white display-block">
            Premio
            <br />
            <small style="opacity: 0.7">Ver premio</small>
          </div>
          <a href="#" class="link card-close card-opened-fade-in color-white"
            style="position: absolute; right: 15px; top: 15px">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <div class="card-content-padding">
          <p id="premio-mensaje"></p>
        </div>
      </div>
    </div>

  </div>

</div>