<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Obtener Promocion</div>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

    <div id="promocion-lista">

      <p>
          
        <div id="areaScan">
          <p class="segmented segmented-raised">
            <button id="verCodigoQR" class="button color-red">Codigo QR</button>
            <button id="verCodigoBC" class="button color-red">Codigo de Barras</button>
          </p>
  
          <h3 style="text-align: center;">
            Muestra el código en el comercio para <br /> hacer valida tu promoción 
          </h3>
  
          <img id="promocionQr" src="" class="center-element" />
          <img id="promocionBarcode" src="" class="center-element" />
        </div>
  
        <div id="promocionTexto">
          <hr>
          <h2 class="text-center-element">Codigo Promocional</h2>
          <h2 class="codigo-promocinal et-color text-center-element"></h2>
        </div>
  
        <div class="clearfix"></div>
  
      </p>
  
      <div class="block">

        <div id="promocionWhatsapp" class="row">
          <div class="share-whatsapp col-20">
            <img src="img/whatsapp.png" style="width: 50px;" />
          </div>

          <div class="col-80">

            <div id="contactoWhatsapp" style="border-radius:10px;background-color:#25d366;padding: 5px;color:white;">
              Ponte en contacto con ___________ para hacer valida tu promoci&oacute;n.
            </div>

          </div>
         
        </div>
      
  
      </div>

    </div>

    <div id="sucursalesContenedor" class="card">
      <div class="card-header">Sucursales</div>
      <div class="card-content card-content-padding">

        <div class="list media-list">
          <ul id="sucursales"></ul>
        </div>

      </div>
    </div>

    <p class="row">
      <button id="promocionReportar" class="col button button-small button-fill color-red">¿NO TE LO HICIERON VÁLIDO?</button>
    </p>

  </div>

</div>