<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Iniciar Sesión</div>
      </div>

    </div>
  </div>
 
  <!-- Scrollable page content -->
  <div class="page-content">

    <img src="img/etiquetaroja.png" class="et-logo" />

    <div class="social-login-area">

      <div id="login-login-facebook" class="social-login-block sl-facebook">
        <i class="fab fa-facebook-square"></i> <span>Continuar con Facebook</span>
      </div>

      <div id="login-login-google" class="social-login-block sl-google">
        <i class="fab fa-google"></i> <span>Continuar con Google</span>
      </div>

    </div>

  


    <div class="text-center-element text-size-12">O Ingresa tus Datos.</div>

    <form class="list er-form" id="login-form">

      <input type="hidden" name="facebook_id" id="login_facebook_id" value="" />
      <input type="hidden" name="google_id" id="login_google_id" value="" />

      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Correo</div>
          <div class="item-input-wrap">
            <input id="email" type="email" name="email" placeholder="Correo" />
          </div>
        </div>
      </div>

      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Contraseña</div>
          <div class="item-input-wrap">
            <input type="password" name="password" placeholder="Contraseña" />
          </div>
        </div>
      </div>

    </form>

    <div class="block">
      <button id="login-button" class="col button button-raised button-fill color-red er-transform">Iniciar Sesión</button>
      <br />
      <button id="registro-button" class="col button button-raised button-fill color-green er-transform">ó Registrarme</button>
      <br />

      <a class="go-link er-link-button" data-name="recuperar" href="#">Olvide mi contraseña</a>

    </div>


  </div>

</div>