<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Aviso de Privacidad</div>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

   

  </div>

</div>