/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    padding-bottom: 50px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    width:100%;
}


* {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.center-element {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-center-element {
    text-align: center;
}

a {
    color: #FE2E2E;
}

.et-color {
    color: #FE2E2E;
}

.card-point-message {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 10px;
    background-color: #FE2E2E;
    color: #FFFFFF;
    text-align: center;
    font-size: large;

    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);
}

.swiper-img {
    width: 100%;
    height: 200px;
}

/* BLACKMODE */
/*
.navbar-bg {
background-color: black;
}

.navbar .title {
color: white;
}

.panel {
background-color: black;
}

.panel li {
color: gainsboro;
background-color: black;
}

.page-content {
background-color: black;
}
*/
/* BLACKMODE */

.navbar-custom {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#menu .item-inner {
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.panel-scroll {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-top: 0px;
}

.panel-scroll .list {
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-custom .panel-custom-menu {
    width: 5%;
    height: 100%;
    margin-top: 5px;
    float: left;
}

.navbar-custom .panel-custom-search {
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    height: 100%;
    float: left;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.navbar-custom .panel-search-notification {
    width: 5%;
    height: 100%;
    float: right;
    text-align: right;
}

.navbar-custom .panel-search-icon {
    padding: 5px;
    color: #A7A7A7; 
    float: left;
    font-size: 15px;
}

.navbar-custom .panel-search-input {
    color: #A7A7A7; 
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    font-size: 15px;
}

.demo-card-header-pic .card-header {
    height: 100px;
    background-size: cover;
    background-position: center;
    text-transform: none;
    color: #fff;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: red;
}

.demo-card-header-pic .card-content-padding .date{
    color: #8e8e93;
}

.card-image-container {
    position: relative;
    width: 100%;
    height: auto !important;
    padding: 0px;
    margin: 0px;
}

.card-image {
    width: 100%;
    border-top-left-radius: var(--f7-card-border-radius);
    border-top-right-radius: var(--f7-card-border-radius);
}

/*
.card-image-circle {
    background-color: #FE2E2E;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: right;
    color: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}
*/

.card-image-circle {
    background-color: #FE2E2E;
    border-radius: 50%;
    width: auto !important;
    height: auto !important;
    float: right;
    padding: 15px 10px 15px 10px;
    font-size: 18px;
    color: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}


.card-description-image {
    float: left;
}

.card-image-percentaje {
    width: 100%;
    display: block;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}

.card-box-rating {
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-box-score {
    float: left;
    width: 15%;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.card-box-detail {
    float: right;
    font-size: 14px;
    width: 80%;
}

.card-er-description {
    font-weight: normal;
    font-size: 12px;
    color: #FE2E2E;
}

.card-er-title {
    font-weight: normal;
    font-size: 20px;
    color: #8A0808;
}

.custom-button {
    display: none;
    width: 150px;
    padding: 5px;
    height: auto !important;
    background-color: #FE2E2E;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
    color: #FFFFFF;
    text-align: center;
}

.custom-er-bar {
    width: 100%;
    height: auto !important;
    background-color: #FE2E2E;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
    color: #FFFFFF;
    text-align: center;
}

.custom-er-bar .bar-item {
    width: 25%;
    float: left;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.custom-button-left {
    border-top-right-radius: 20px;
    left: 0px; 
}

.custom-button-right {
    border-top-left-radius: 20px;
    right: 0px; 
}

.map-element {
    width: 100%;
    height: 100%;
}

.map-container {
    width: 100%;
    height: 100%;
}

.footer-promotion {
    width: 100%;
    padding: 0px;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
    color: #FFFFFF;
    text-align: center;
}

.title-shadow {
    text-shadow: 1px 1px #848484;
}

.search-list-container {
    display: none;
    width: 100%;
    color: #000000;
    background-color: #fff;
    z-index: 9990;
}

.clearfix {
    clear: both;
}

.et-logo {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.social-login-area {
    padding: 20px;
}

.social-login-block {
    border-radius: 6px;
    color: #fff;
    padding: 10px;
    font-size: large;
}

.social-login-block i {
    margin-top: 3px;
    margin-right: 10px;
}

.social-login-block span {
    margin-left: 30px;
}

.sl-facebook {
    background-color: #3b5998;
    margin-bottom: 5px;
}

.sl-google {
    background-color: #4885ed;
}

.text-size-10 {
    font-size: 1.0rem;
}

.text-size-12 {
    font-size: 1.2rem;
}

.er-form {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 20px 0px 20px;
}

.er-form .item-label {
    display: none;
}

.er-form .item-input {
    border: solid 2px grey;
    margin-bottom: 5px;
    border-radius: 5px;
}

.er-form .er-date {
    width: 100%;
    margin-bottom: 5px;
}

.er-form .er-date select {
    float: left;
    border: solid 2px grey;
    border-radius: 5px;
    padding: 2px;
    margin-left: 1px;
    width: 33%;
}

.er-form .er-date .year {
    float: right;
}

.er-transform {
    font-weight: bold;
    text-transform: none;
}

.er-form .er-gender-box {
    width: 100%;
    margin-bottom: 5px;
}

.er-gender {
    display: block;
    border: solid 2px #A7A7A7;
    color: #A7A7A7;
    border-radius: 5px;
    padding: 5px;
    width: 45%;
    cursor: pointer;
}

.er-gender-active {
    color: black;
    border-color: grey;
}

.er-gender-female {
    float: left;
}

.er-gender-male {
    float: right;
}

.er-terms {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.er-link-button{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.g-signin2 {
    opacity: 0;
    width: 100%;
    display: block;
    position: absolute;
}

.er-hide {
    display: none;
}

.show-onlogin{
    display: none;
}

 /* 
.navbar {
   padding: 0px;
}
 */
.go-back {
    margin-left: 10px;
    width: auto !important;
}

.navbar .title {
    margin-left: 10px;
}
