<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Configuración</div>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

    <div class="toolbar tabbar toolbar-bottom">
      <div class="toolbar-inner">
        <a href="#tab-1" class="tab-link tab-link-active">Configuración</a>
        <a href="#tab-2" class="tab-link">Mis Datos</a>
      </div>
    </div>

      <div class="tabs">
        <div id="tab-1" class="page-content tab tab-active" style="padding-top: 10px;">
            
            <div class="card">
              <div class="card-content card-content-padding">

                <div class="list simple-list">
                  <ul>
                  <li>
                    <span>GPS Activo</span>
                    <label id="gps_activo" class="toggle color-red">
                      <input id="gps_activo_checkbox" type="checkbox">
                      <span class="toggle-icon"></span>
                    </label>
                  </li>
                  </ul>
                </div>

              </div>
            </div>

            <div class="card">
              <div class="card-content card-content-padding">

                <div class="list simple-list">
                  <ul>
                  <li>
                    <span>Notificaciones</span>
                    <label id="notificacion_activa" class="toggle color-red">
                      <input id="notificacion_activa_checkbox" type="checkbox">
                      <span class="toggle-icon"></span>
                    </label>
                  </li>
                  </ul>
                </div>

              </div>
            </div>
         
        </div>
        <div id="tab-2" class="page-content tab" style="padding-top: 10px;">

           
          <form class="list er-form" id="editar-usuario-form">
        
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Correo Electronico</div>
                <div class="item-input-wrap">
                  <input readonly="true" type="text" id="email" name="email" placeholder="Correo Electronico" />
                </div>
              </div>
            </div>

            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Teléfono</div>
                <div class="item-input-wrap">
                  <input type="text" id="telefono_celular" name="telefono_celular" placeholder="Teléfono" />
                </div>
              </div>
            </div>

              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Nombre</div>
                  <div class="item-input-wrap">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre(s)" />
                  </div>
                </div>
              </div>

            
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Apellido Paterno</div>
                    <div class="item-input-wrap">
                      <input type="text" name="apellido_paterno" placeholder="Apellido Paterno" />
                    </div>
                  </div>
                </div>
    
    
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Apellido Materno</div>
                    <div class="item-input-wrap">
                      <input type="text" name="apellido_materno" placeholder="Apellido Materno" />
                    </div>
                  </div>
                </div>
   
      
              <div class="er-date content-block">
                <select id="fecha_dia" name="fecha_dia" class="day"></select>
                <select id="fecha_mes" name="fecha_mes" class="month"></select>
                <select id="fecha_ano" name="fecha_ano" class="year"></select>
          
                <div class="clearfix"></div>
              </div>
      
  
          </form>

          <div class="block">
            <button id="editar-button" class="col button button-raised button-fill color-green">
              <i class="fas fa-pencil-alt"></i> Editar
            </button>
          </div>

   
      </div>
      </div>

  </div>

</div>