<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Registro</div>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

    <img src="img/etiquetaroja.png" class="et-logo" />

    <div class="social-login-area er-hide">

      <div id="register-facebook" class="social-login-block sl-facebook">
        <i class="fab fa-facebook-square"></i> <span>Continuar con Facebook</span>
      </div>

      <div id="register-google" class="social-login-block sl-google">
        <i class="fab fa-google"></i> <span>Continuar con Google</span>
      </div>

    </div>

    <div class="text-center-element text-size-12">Favor de completar tus datos</div>

    <form class="list er-form" id="registro-form">

      <input type="hidden" name="facebook_id" id="facebook_id" value="" />
      <input type="hidden" name="google_id" id="google_id" value="" />

      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Nombre</div>
          <div class="item-input-wrap">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre(s)" />
          </div>
        </div>
      </div>

      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Apellido</div>
          <div class="item-input-wrap">
            <input type="text" id="apellido_paterno" name="apellido_paterno" placeholder="Apellido(s)" />
          </div>
        </div>
      </div>

      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Correo</div>
          <div class="item-input-wrap">
            <input id="email_registro" type="email" name="email" placeholder="Correo" />
          </div>
        </div>
      </div>

      <div style="font-weight: bold; color: gray;">Fecha de nacimiento</div>

      <div class="er-date content-block">
        <select id="fecha_dia" name="fecha_dia" class="day"></select>
        <select id="fecha_mes" name="fecha_mes" class="month"></select>
        <select id="fecha_ano" name="fecha_ano" class="year"></select>
  
        <div class="clearfix"></div>
      </div>


      <div id="genero_box" data-active="er-gender-active" class="switch-box er-gender-box">

        <input class="switch-value" type="hidden" name="genero_id" value="2" />

        <div data-val="2" class="switch-item er-gender er-gender-female"> 
          <i class="fas fa-female"></i> Mujer
        </div>

        <div data-val="1" class="switch-item er-gender er-gender-male"> 
          <i class="fas fa-male"></i> Hombre
        </div>
  
        <div class="clearfix"></div>
      </div>

      <div style="font: bold 12px; color: #A7A7A7;display:none;">Asi sabremos qué ofertas enviarte</div>

      <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Correo</div>
          <div class="item-input-wrap">
            <input id="telefono_celular" type="text" name="telefono_celular" placeholder="Teléfono (opcional)" />
          </div>
        </div>
      </div>

      <div id="passwordContainer" class="item-content item-input">
        <div class="item-inner">
          <div class="item-title item-label">Contraseña</div>
          <div class="item-input-wrap">
            <input type="password" name="password" placeholder="Contraseña" />
          </div>
        </div>
      </div>

    </form>

    <div class="block">
      <button id="register-button" class="col button button-raised button-fill color-red er-transform">
        Registrarme
      </button>
    </div>

    <div class="er-terms">

      <input type="checkbox" id="terminos" />  
      <label for="terminos">He leido y aceptado los</label> <a data-name="terminos" class="go-link" href="#">Terminos y condiciones</a> / <a data-name="aviso" class="go-link" href="#">Aviso de privacidad</a>


    </div>

  </div>

</div>