<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="title" class="title">Tarjeta</div>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

    <div id="tarjetadetalle">

      <p>
          
        <div data-mno="areaScan">
          
          <p class="segmented segmented-raised">
            <button data-mno="verCodigoQR" class="button color-red">Codigo QR</button>
            <button data-mno="verCodigoBC" class="button color-red">Codigo de Barras</button>
          </p> 
  
          <h3 style="text-align: center;">Muestra tu código en el comercio</h3>
  
          <img data-mno="promocionQr" src="" class="center-element" />
          <img data-mno="promocionBarcode" src="" class="center-element" />
        </div>
  
        <div data-mno="promocionTexto">
          <hr>
          <h2 class="text-center-element">Codigo Promocional</h2>
          <h2 class="codigo-promocional et-color text-center-element"></h2>
        </div>

        <div class="card-point-message" data-mno="promocionAcumulada">

        </div>
  
        <div class="clearfix"></div>
  
      </p>
  
      <div class="block">
  
        <div data-mno="promocionWhatsapp" class="row">
          <div class="share-whatsapp col-20">
            <img src="img/whatsapp.png" style="width: 50px;" />
          </div>

          <div class="col-80">

            <div data-mno="contactoWhatsapp" style="border-radius:10px;background-color:#25d366;padding: 5px;color:white;">
              Ponte en contacto con ___________ para hacer valida tu promoci&oacute;n.
            </div>

          </div>
         
        </div>
        
        <p class="row">
          <button data-mno="promocionReportar" class="col button button-small button-fill color-red">¿NO TE LO HICIERON VÁLIDO?</button>
        </p>
  
      </div>

    </div>
  

  </div>

</div>