<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="left">
        <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
        <div id="notificacionNombre" class="title">Notificacion</div>
      </div>

    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content">


    <div class="card demo-card-header-pic">
      
      <div class="card-image-container">
        <img id="notificacionImagen" class="card-image" src="" />
      </div>
      
      <div class="card-content card-content-padding">
        <p id="notificacionDescripcion"></p>
      </div>
    </div>
    
    
  </div>

</div>