<div data-name="home" class="page">

    <!-- Top Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
  
        <div class="left">
          <a class="go-back" href="/"><i class="fas fa-arrow-left et-color"></i></a>
          <div id="title" class="title">Promociones</div>
        </div>
  
      </div>
    </div>

    <div class="page-content">

      <div id="promocionCliente"></div>

    </div>

</div>