<div data-name="home" class="page">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">

      <div class="navbar-custom">

        <div class="panel-custom-menu">
          <a class="panel-open" href="#" data-panel=".panel-left">
            <i class="fas fa-bars et-color"></i>
          </a>
        </div>

        <div class="panel-custom-search">
          <i class="fas fa-search panel-search-icon""></i>
          <input id="clave-busqueda" class="panel-search-input" type="text" placeholder="¿En que te gustaria ahorrar?" />
        </div>

        <div class="panel-custom-menu">
          <a data-name="notificaciones" data-login="true" class="go-link" href="#" style="float: right;">
            <i class="fas fa-bell et-color"></i>
          </a>
        </div>

      </div>

    </div>

    <div id="search-list" class="search-list-container">

      <div class="list media-list">
        <br />
        <ul id="promo-busqueda"></ul>
      </div>
  
    </div>

  </div>

  <div class="panel panel-left panel-reveal panel-resizable panel-swipe panel-init">

    <div class="panel-scroll">

      <h4 style="margin-left: 5px;">MENÚ</h4>
      <div class="list">
        <ul id="menu"></ul>
      </div>
  
      <div class="list">
        <ul>
  
          <li class="show-onlogin">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title" style="text-align: center;">
                    <a class="go-link" data-sidebar="1" data-login="true" data-name="configuracion" data-params="" href="#">Configuración</a>
                  </div>
                </div>
              </div>
              <div class="item-media">
                <i class="fas fa-cog"></i>
              </div>
            </div>
          </li>
  
          <li id="qr-link" style="display:none;">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title" style="text-align: center;">
                    <a class="go-link" data-sidebar="1" data-login="true" data-name="escaner" data-params="" href="#">Escaner QR</a>
                  </div>
                </div>
              </div>
              <div class="item-media">
                <i class="fas fa-qrcode"></i>
              </div>
            </div>
          </li>
  
          <li id="logout-link" class="show-onlogin">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title" style="text-align: center;">Cerrar Sesion</div>
                </div>
              </div>
              <div class="item-media">
                <i class="fas fa-lock"></i>
              </div>
            </div>
          </li>
  
        </ul>
      </div>


    </div>


  </div>

  <!-- Scrollable page content -->
  <div class="page-content">

    <div id="carusel" class="swiper-container">
      <div data-pagination='{"el": ".swiper-pagination"}' class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
    </div>

    <hr style="background-color: #E6E6E6; margin-left: 5px; margin-right: 5px;" />

    <div id="promos"></div>


    <p>&nbsp;</p>
    <p>&nbsp;</p>

  </div>

  <div data-name="clientes" class="custom-er-bar">

    <div data-name="clientes" class="go-link bar-item">
      <i class="fas fa-store fa-lg"></i><br />POR TIENDA
    </div>

    <div data-name="mapa" class="go-link bar-item">
      <i class="fas fa-map-marker-alt fa-lg"></i><br />CERCA DE MI
    </div>

    <div data-login="true" data-name="favorito" class="go-link bar-item">
      <i class="fas fa-heart fa-lg"></i><br />MIS FAVORITOS
    </div>

    <div data-login="true" data-name="tarjeta" class="go-link bar-item">
      <i class="fas fa-id-card fa-lg"></i><br />MI LEALTAD
    </div>

    <div class="clearfix"></div>

  </div>

</div>